@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Candidates.Data.CandidateEsperiences>
<div width="100%">
    <div>
        <h2>Experiencias candidato - @ViewBag.NombreCandidate - Documneto @ViewBag.IdCandidate</h2>

        <div class="form-group">
            <input type="text" class="form-control pull-right mb-2" style="width:20%" id="search" placeholder="Buscar...">
            <a asp-controller="CandidateExperiences" asp-action="NewCandidateExperience" asp-route-idCandidate="@ViewBag.IdCandidate" class="btn btn-primary mb-1">Agregar Experiencia</a>
            <a asp-controller="Candidate" asp-action="List" class="btn btn-secondary mb-1">Ver Lista de Candidatos</a>
        </div>

        <table class="table table-bordered" width="100%" id="mytable">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Puesto
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Salario
                    </th>
                    <th>
                        Fecha de Ingreso
                    </th>
                    <th>
                        Fecha de Retiro
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.IdCandidateExperience
                        </td>
                        <td>
                            @item.Company
                        </td>
                        <td>
                            @item.Job
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Salary
                        </td>
                        <td>
                            @item.BeginDate.ToString("dd/MM/yyyy hh:mm")
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            <a asp-controller="CandidateExperiences" asp-action="EditCandidateExperience" asp-route-idExperience="@item.IdCandidateExperience" class="btn btn-warning mb-1">Editar</a>
                            <a asp-controller="CandidateExperiences" asp-action="DeleteCandidateExperience" asp-route-IdCandidateExperience="@item.IdCandidateExperience" class="btn btn-danger mb-1" onclick="return SureExperience()">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    <script>
         // Write on keyup event of keyword input element
         $(document).ready(function(){
         $("#search").keyup(function(){
         _this = this;
         // Show only matching TR, hide rest of them
         $.each($("#mytable tbody tr"), function() {
         if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
         $(this).hide();
         else
         $(this).show();
         });
         });
        });

        function SureExperience() {
            return confirm("Esta seguro de Eliminar esta experiencia?")
        }
    </script>
}
